<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intercise</title>
    <link rel="stylesheet" href="static/css/foundation.css">
    <link rel="stylesheet" href="static/css/app.css">
  </head>

  {% macro item_details(item) %}
    <li class="accordion-item {% if (item.ID == 0) %} is-active {% endif %}" data-accordion-item>
      <a href="#" class="accordion-title">{{item.ID + 1}} - {{item.Name}}</a>
      <div class="accordion-content" data-tab-content >
        <p>{{item.Name}} for a total {{item.Duration}} seconds</p>
      </div>
    </li>
  {% endmacro %}

  <body>

    <div class="title-bar">
      <div class="title-bar-left">
        <button class="menu-icon" type="button"></button>
        <span class="title-bar-title">Intercise</span>
      </div>
      <div class="title-bar-right">
        <button class="menu-icon" type="button"></button>
      </div>
    </div>

    <div class="callout">
      <h5>Interval</h5>
      <p>Total duration: {{interval.Duration() }} seconds</p>
    </div>

    <div>
      <ul class="accordion" data-accordion>

        {% for item in interval.Items %}
          {{ item_details(item) }}
        {% endfor %}

      </ul>
    </div>

    <div class="primary progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
      <div class="progress-meter" style="width: 25%">
        <p class="progress-meter-text">25%</p>
      </div>
    </div>

    <button type="button" class="success button">Start</button>
    <button type="button" class="button">Pause</button>
    <button type="button" class="alert button">Reset</button>

    <script src="static/js/vendor/jquery.js"></script>
    <script src="static/js/vendor/what-input.js"></script>
    <script src="static/js/vendor/foundation.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
